# Bot requirements
discord.py>=1.5.1		# Necessary due to the use of intents starting on October 7th
wavelink>=0.9.6

# Wavelink and discord.py requirement
aiohttp>=3.6.0,<3.7.0

# Data Management
aiosqlite>=0.15.0
python-dotenv>=0.14.0

# Visual discord menus
#git+https://github.com/Rapptz/discord-ext-menus.git@master#egg=discord-ext-menus